<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!--
        * @bainloko
        * PROGRAMAÇÃO IV
        * 18/10/2021
    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel Administrativo</title>
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        table {
            border-collapse: collapse;
            border: 3px solid black;
            letter-spacing: 1px;
            font-size: 18px;
        }

        td, th {
            border: 1px solid gray;
            padding: 10px 20px;
        }

        td { 
            text-align: center;
        }

        #linha {
            border: none;
            display: flex;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <h3>Listagem dos Usuários</h3>

    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>E-mail</th>
            <th>Senha</th>
            <th>Foto</th>
            <th>|</th>
            <th>Deletar Usuário</th>
        </tr>
        <% Usuarios.forEach(function(usuario){ %>
        <tr>
            <td><%=usuario.id%></td>
            <td><%=usuario.nome%></td>
            <td><%=usuario.email%></td>
            <td><%=usuario.senha%></td>
            <td>
                <img src="/upload/usuarios/<%=usuario.foto%>" width="80px" />
            </td>
            <td id="linha">
                <label>|</label>
                <label>|</label>
                <label>|</label>
                <label>|</label>
                <label>|</label>
            </td>
            <td>
                <a href="/admin/usuarios/del/<%=usuario.id%>">Deletar Usuário</a>
            </td>
        </tr>
        <% }); %>
    </table>
</body>
</html>