<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!--
        * @bainloko
        * PROGRAMAÇÃO IV
        * 22/11/2021
    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <meta name="theme-color" content="#ffffff">
    <title>Painel Administrativo</title><style>
        body {
            margin: 2em;
            font-family: Arial, Helvetica, sans-serif;
            text-align: justify;
        }

        a:hover, span:hover {
            color: blue;
        }

        form {
            width: 600px;
            padding: 1.1em;
            border: 1px solid #CCC;
            border-radius: 1em;
        }

        h3 {
            margin-top: -1px;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        label {
            width: 90px;
            display: inline-block;
            text-align: right;
            font-size: 21px;
        }

        input {
            border: 1px solid #999;
            margin-top: 3px;
            width: calc(100% - 243px);
            font-size: 14px;
            display: inline-block;
        }

        input:focus {
            border-color: #000;
        }

        #fotoInp {
            width: calc(100% - 240px);
        }

        #addInp {
            width: 100%;
            margin: 1 auto;
            display: flex;
        }

        .obrigatorio {
            color: red;
            font-weight: 1000;
        }

        span {
            padding: 5px;
            display: inline-block;
        }

        #acoes {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <nav>
        <span><a href="/admin/livros">Para ir à listagem dos livros...</a></span><span><a href="/admin/livros/add">Para adicionar um livro...</a></span><span><a href="/admin">Voltar para a página inicial</a></span> 
    </nav>
    <header>
        <h1>Editar Livro</h1>
    </header>
    <article>
        <form method="post" enctype="multipart/form-data">
            <h3><%=livro.nome%></h3>
            <h3>Nos campos onde há '<span class="obrigatorio">*</span>', o preenchimento é obrigatório!</h5>
            <ul>
                <li>
                    <label>ID:&ensp;</label><input type="text" name="nome" readonly value="<%=livro.id%>" />
                </li>
                <li>
                    <span class="obrigatorio">*</span><label>Livro:&ensp;</label><input type="text" name="nome" value="<%=livro.nome%>" required />
                </li>
                <li>
                    <span class="obrigatorio">*</span><label>Autor:&ensp;</label><input type="text" name="autor" value="<%=livro.autor%>" required />
                </li>
                <li>
                    <span class="obrigatorio">*</span><label>Valor:&ensp;</label><input type="number" step="0.01" name="valor" value="<%=livro.valor%>" required />
                </li>
                <li>
                    &ensp;<label>Descrição:&ensp;</label><textarea name="descricao" rows="1" maxlength="1000" value="<%=livro.descricao%>"></textarea>
                </li>
                <li>
                    <span class="obrigatorio">*</span><label>Número de Páginas:&ensp;</label><input type="number" name="paginas" value="<%=livro.paginas%>" required />
                </li>
                <li>
                    &ensp;<label>Editora:&ensp;</label><input type="text" name="editora" value="<%=livro.editora%>" />
                </li>
                <li>
                    &ensp;<label>Ano da publicação:&ensp;</label><input type="text" name="anoPubli" value="<%=livro.anoPubli%>" />
                </li>
                <li>
                    <img src="/uploads/livros/<%=livro.fotoCapa%>" alt="foto de algum livro" width="130px" />
                    <br>
                    <span class="obrigatorio">*</span><label>Foto:&ensp;</label><input id="fotoInp" type="file" name="fotoCapa" />
                    <input id="addInp" type="submit" value="Adicionar Livro" />
                </li>
            </ul>
        </form>
        <br>
        <hr>
        <h3 id="mensagem">
            <% if (msg){ %>
            <%= msg %>
            <% } else { %>
            <%= "" %>
            <% } %>
        </h3>
    </article>
    <footer>
        <br>
        <h3>© Kauã Maia, 2021 - Contato <a href="https://github.com/bainloko">github.com/bainloko</a></h3>
    </footer>
</body>
</html>