<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!--
        * @bainloko
        * PROGRAMAÇÃO IV
        * 22/11/2021
    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <meta name="theme-color" content="#ffffff">
    <title>Painel Administrativo</title>
    <style>
        body {
            margin: 2em;
            font-family: Arial, Helvetica, sans-serif;
            text-align: justify;
        }

        a:hover, span:hover {
            color: blue;
        }

        form {
            width: 750px;
            padding: 1.1em;
            border: 1px solid #CCC;
            border-radius: 1em;
        }

        h3 {
            margin-top: -1px;
        }
        
        table {
            margin: 0;
            padding: 0;
        }

        img {
            display: inline-block;
            margin-top: -5%;
            margin-left: -15%;
            width: 180px;
            height: 280px;
        }

        label {
            margin-right: 30%;
            display: inline-block;
            text-align: justify;
            font-size: 21px;
        }

        input, textarea {
            border: 1px solid #999;
            margin-top: 3px;
            margin-left: -145%;
            width: 205%;
            font-size: 14px;
            display: inline-block;
        }

        textarea {
            resize: vertical;
            overflow: auto;
        }

        input:focus {
            border-color: #000;
        }

        #fotoInp {
            margin-left: -55%;
            width: calc(117%);
            overflow: hidden;
        }

        #addInp {
            width: 100%;
            margin: 0 auto;
            display: flex;
        }

        .obrigatorio {
            color: red;
            padding-right: 0;
        }

        span {
            padding-right: 10px;
            display: inline-block;
        }

        #acoes {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <nav>
        <span><a href="/admin/livros">Para ir à listagem dos livros...</a></span><span><a href="/admin/livros/add">Para adicionar um livro...</a></span><span><a href="/admin">Voltar para a página inicial</a></span><span style="float: right;"><a href="/admin/sair">Sair</a></span>
        <br>
        <h4>Usuário logado: <%=logado.nome%>, <%=logado.email%></h4> 
    </nav>
    <header>
        <h1>Editar Livro</h1>
    </header>
    <article>
        <form method="post" enctype="multipart/form-data">
            <h3><%=livro.nome%></h3>
            <h3>Nos campos onde há '<span class="obrigatorio">*</span>', o preenchimento é obrigatório!</h5>
            <table>
                <tr>
                    <td>
                        <label><span class="obrigatorio">*</span>&ensp;ID:</label>
                    </td>
                    <td>
                        <input type="text" name="id" readonly value="<%=livro.id%>" />
                    </td>
                    <td rowspan="9">
                        <img src="/uploads/livros/<%=livro.fotoCapa%>" alt="foto de algum livro" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label><span class="obrigatorio">*</span>&ensp;Nome:</label>
                    </td>
                    <td>
                        <input type="text" name="nome" value="<%=livro.nome%>" required />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label><span class="obrigatorio">*</span>&ensp;Autor:</label>
                    </td>
                    <td>
                        <input type="text" name="autor" value="<%=livro.autor%>" required />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label><span class="obrigatorio">*</span>&ensp;Valor:</label>
                    </td>
                    <td>
                        <input type="number" step="0.01" name="valor" value="<%=livro.valor%>" required />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Descrição:&ensp;</label>
                    </td>
                    <td>
                        <textarea name="descricao" rows="1" maxlength="1000"><%=livro.descricao%></textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label><span class="obrigatorio">*</span>&ensp;Número de Páginas:</label>
                    </td>
                    <td>
                        <input style="margin-left: -85%; width: 145%;" type="number" name="paginas" value="<%=livro.paginas%>" required />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Editora:&ensp;</label>
                    </td>
                    <td>
                        <input type="text" name="editora" value="<%=livro.editora%>" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Ano da publicação:&ensp;</label>
                    </td>
                    <td>
                        <input style="margin-left: -105%; width: 165%;" type="text" name="anoPubli" value="<%=livro.anoPubli%>" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Caso queira mudar a foto deste livro, clique aqui:&ensp;</label>
                    </td>
                    <td>
                        <input id="fotoInp" type="file" name="fotoCapa" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <input id="addInp" type="submit" value="Editar Livro" />
                    </td>
                </tr>
            </table>
        </form>
        <br>
        <hr>
        <h3 id="mensagem">
            <% if (msg){ %>
            <%= msg %>
            <% } else { %>
            <%= "" %>
            <% } %>
        </h3>
    </article>
    <footer>
        <br>
        <h3>© Kauã Maia, 2021 - Contato: <a href="https://github.com/bainloko">github.com/bainloko</a></h3>
    </footer>
</body>
</html>