<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!--
        * @bainloko
        * PROGRAMAÇÃO IV
        * 18/10/2021
    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel Administrativo</title>
    <style>
        body {
            margin: 2em;
            font-family: Arial, Helvetica, sans-serif;
            text-align: justify;
        }

        table {
            border-collapse: collapse;
            border: 3px solid black;
            letter-spacing: 1px;
            font-size: 18px;
        }

        td, th {
            border: 1px solid gray;
            padding: 10px 20px; 
            text-align: center;
        }

        #foto {
            width: 150px;
            height: 220px;
        }

        img {
            width: 100px;
            height: 100px;
        }

        img:hover {
            cursor: pointer;
            display: flex;
            margin-top: 5px;
            width: 150px;
            height: auto;
        }

        #linha {
            border: none;
            display: flex;
            flex-direction: column;
        }

        #mensagem {
            color: red;
        }

        span {
            padding: 5px;
            display: inline-block;
        }
    </style>
</head>
<body>
    <nav>
        <span><a href="/admin/livros/add">Para adicionar outro livro...</a></span><span><a href="/admin">Voltar para a página inicial</a></span>  
    </nav>
    <header>
        <h3>Listagem dos Livros Cadastrados</h3>
        <br>
        <br>
    </header>
    <article>
        <table>
            <tr>
                <th>ID</th>
                <th>Livro</th>
                <th>Autor</th>
                <th>Valor</th>
                <th>Descrição</th>
                <th>Número de páginas</th>
                <th>Editora</th>
                <th>Data da publicação</th>
                <th>Foto</th>
                <th>|</th>
                <th>Ações</th>
            </tr>
            <% Livros.forEach(function(livro){ %>
            <tr>
                <td><%=livro.id%></td>
                <td><%=livro.nome%></td>
                <td><%=livro.autor%></td>
                <td>R$ <%=livro.valor%></td>
                <td><%=livro.descricao%></td>
                <td><%=livro.paginas%></td>
                <td><%=livro.editora%></td>
                <td><%=livro.dataPubli%></td>
                <td id="foto">
                    <img src="/upload/livros/<%=livro.fotoCapa%>" alt="foto de algum livro" />
                </td>
                <td id="linha">
                    <label>|</label>
                    <label>|</label>
                    <label>|</label>
                    <label>|</label>
                    <label>|</label>
                    <label>|</label>
                    <label>|</label>
                    <label>|</label>
                    <label>|</label>
                    <label>|</label>
                </td>
                <td>
                    <a href="/admin/livros/del/<%=livro.id%>">Deletar Livro</a>
                </td>
            </tr>
            <% }); %>
        </table>
        <br>
        <hr>
        <h3 id="mensagem">
            <% if ( msg ) { %>
            <%= msg %>
            <% } else { %>
            <%= "" %>
            <% } %>
        </h3>
    </article>
    <footer>
        <br>
        <h3>© Kauã Maia, 2021 - Contato <a href="https://github.com/bainloko">Github.com/bainloko</a></h3>
    </footer>
</body>
</html>