<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!--
        * @bainloko
        * PROGRAMAÇÃO IV
        * 18/10/2021
    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <meta name="theme-color" content="#ffffff">
    <title>Painel Administrativo</title>
    <style>
        body {
            margin: 2em;
            font-family: Arial, Helvetica, sans-serif;
            text-align: justify;
        }
        
        a:hover, span:hover {
            color: blue;
        }

        /* courtesy of W3 Schools: CSS Forms*/
        #pesqInp {
            width: 25%;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
            background-color: white;
            background-image: url("/misc/search.png");
            background-position: 10px 10px;
            background-repeat: no-repeat;
            margin-bottom: 5px;
            padding: 12px 18px 12px 40px;
        }

        input {
            font-size: 16px;
            margin-right: 5px;
            padding: 12px 14px;
        }

        table {
            border-collapse: collapse;
            border: 3px solid black;
            letter-spacing: 1px;
            font-size: 18px;
        }

        td, th {
            border: 1px solid gray;
            padding: 10px;
            text-align: center;
        }

        #descricao {
            padding: 5px;
        }

        #linha {
            border: none;
            display: flex;
            flex-direction: column;
        }

        #mensagem {
            color: red;
        }

        span {
            padding-right: 10px;
            display: inline-block;
        }

        #acoes {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <nav>
        <span><a href="/admin/livros/add">Para adicionar outro livro...</a></span><span><a href="/admin">Voltar para a página inicial</a></span><span><a href="/admin/sair">Sair</a></span>
        <br>
        <h4>Usuário logado: <%=logado.nome%>, <%=logado.email%></h4> 
    </nav>
    <header>
        <h3>Listagem dos Livros Cadastrados</h3>
    </header>
    <article>
        <form method="post">
            <input id="pesqInp" type="text" name="pesquisar" placeholder="Digite sua pesquisa!" required />
            <input type="submit" value="Pesquisar" />
        </form>
        <table>
            <tr>
                <th>ID</th>
                <th>Livro</th>
                <th>Autor</th>
                <th>Valor</th>
                <th>Descrição</th>
                <th>Número de páginas</th>
                <th>Editora</th>
                <th>Data da publicação</th>
                <th>Foto</th>
                <th>|</th>
                <th>Ações</th>
            </tr>
            <% Livros.forEach(function(livro){ %>
            <tr>
                <td><%=livro.id%></td>
                <td><%=livro.nome%></td>
                <td><%=livro.autor%></td>
                <td>R$ <%=livro.valor%></td>
                <td id="descricao"><%=livro.descricao%></td>
                <td><%=livro.paginas%></td>
                <td><%=livro.editora%></td>
                <td><%=livro.anoPubli%></td>
                <td id="foto">
                    <img src="/uploads/livros/<%=livro.fotoCapa%>" alt="foto de algum livro" width="130px" />
                </td>
                <td id="linha">
                    <label>|</label>
                    <label>|</label>
                    <label>|</label>
                    <label>|</label>
                    <label>|</label>
                    <label>|</label>
                    <label>|</label>
                    <label>|</label>
                    <label>|</label>
                    <label>|</label>
                </td>
                <td>
                    <a id="acoes" href="/admin/livros/edit/<%=livro.id%>">
                        <img src="/misc/edit.png" alt="Editar Livro" width="50px" />
                    </a>
                    <a id="acoes" href="/admin/livros/del/<%=livro.id%>">
                        <img src="/misc/del.png" alt="Deletar Livro" width="50px" />
                    </a>
                </td>
            </tr>
            <% }); %>
        </table>
        <br>
        <hr>
        <h3 id="mensagem">
            <% if (msg){ %>
            <%= msg %>
            <% } else { %>
            <%= "" %>
            <% } %>
        </h3>
    </article>
    <footer>
        <br>
        <h3>© Kauã Maia, 2021 - Contato <a href="https://github.com/bainloko">github.com/bainloko</a></h3>
    </footer>
</body>
</html>