<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <!--
        * @bainloko
        * PROGRAMAÇÃO IV
        * 22/11/2021
    -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <meta name="theme-color" content="#ffffff">
    <title>Painel Administrativo</title>
    <style>
        body {
            margin: 2em;
            font-family: Arial, Helvetica, sans-serif;
            text-align: justify;
        }

        a:hover, span:hover {
            color: blue;
        }

        form {
            width: 750px;
            padding: 1.1em;
            border: 1px solid #CCC;
            border-radius: 1em;
        }

        h3 {
            margin-top: -1px;
        }
        
        table {
            margin: 0;
            padding: 0;
        }

        img {
            display: inline-block;
            margin-top: -25%;
            margin-left: -10%;
        }

        label {
            margin-right: 30%;
            display: inline-block;
            text-align: justify;
            font-size: 21px;
        }

        input {
            border: 1px solid #999;
            margin-top: 3px;
            margin-left: -220%;
            width: 297%;
            font-size: 14px;
            display: inline-block;
        }

        input:focus {
            border-color: #000;
        }

        #fotoInp, #senhaInp {
            margin-left: -78%;
            width: 155%;
        }

        #fotoInp {
            width: 157%;
        }

        #addInp {
            width: 100%;
            margin: 0 auto;
            display: flex;
        }

        .obrigatorio {
            color: red;
            padding-right: 0;
        }

        span {
            padding-right: 10px;
            display: inline-block;
        }

        #acoes {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <nav>
        <span><a href="/admin/usuarios">Para ir à listagem dos usuários...</a></span><span><a href="/admin/usuarios/add">Para adicionar um usuário...</a></span><span><a href="/admin">Voltar para a página inicial</a></span><span><a href="/admin/sair">Sair</a></span>
        <br>
        <h4>Usuário logado: <%=logado.nome%>, <%=logado.email%></h4> 
    </nav>
    <header>
        <h1>Editar Usuário</h1>
    </header>
    <article>
        <form method="post" enctype="multipart/form-data">
            <h3><%=usuario.nome%></h3>
            <h3>Nos campos onde há '<span class="obrigatorio">*</span>', o preenchimento é obrigatório!</h5>
            <table>
                <tr>
                    <td>
                        <label><span class="obrigatorio">*</span>&ensp;ID:</label>
                    </td>
                    <td>
                        <input type="text" name="id" readonly value="<%=usuario.id%>" />
                    </td>
                    <td rowspan="8">
                        <img src="/uploads/usuarios/<%=usuario.foto%>" alt="foto de algum usuário" width="120px" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label><span class="obrigatorio">*</span>&ensp;Nome:</label>
                    </td>
                    <td>
                        <input type="text" name="nome" value="<%=usuario.nome%>" required />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label><span class="obrigatorio">*</span>&ensp;E-mail:</label>
                    </td>
                    <td>
                        <input type="email" name="email" value="<%=usuario.email%>" required />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Caso queira mudar a senha deste usuário, digite a nova senha aqui:&ensp;</label>
                    </td>
                    <td>
                        <input id="senhaInp" type="password" name="senha" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>Caso queira mudar a foto deste usuário, clique aqui:&ensp;</label>
                    </td>
                    <td>
                        <input id="fotoInp" type="file" name="foto" />
                    </td>
                </tr>
                <tr>
                    <td colspan="3">
                        <input id="addInp" type="submit" value="Editar Usuário" />
                    </td>
                </tr>
            </table>
        </form>
        <br>
        <hr>
        <h3 id="mensagem">
            <% if (msg){ %>
            <%= msg %>
            <% } else { %>
            <%= "" %>
            <% } %>
        </h3>
    </article>
    <footer>
        <br>
        <h3>© Kauã Maia, 2021 - Contato <a href="https://github.com/bainloko">github.com/bainloko</a></h3>
    </footer>
</body>
</html>